
div.paymentPage {
	margin-left:15%;
	margin-right:15%;
}


div.triangle-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	border: solid black;
	border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

div.triangle-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border: solid black;
	border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

table.topbar {
	height:40px;
	width:100%;
}

div.home {
	text-align:right;
}

div.payment {
	margin-left:25%;
	margin-right:25%;
}

hr {
	border-style:solid;
	border-color:black;
	border-width:1.5px;
}

h2 {
	margin-left:250px;
	font-family:Arial, Helvetica, sans-serif;
}

table.detail {
	background-color:#f2f2f2;
}

table#picture {
	float:right;
}

img {
	width:200px;
	height:300px;
	border-color:black;
	border-style:solid ;
	border-width:1px;
	cursor: not-allowed;
}

td.title {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

td.seller {
	padding-bottom:17px;
}

input#continue {
	width:130px;
	height:36px;
	float:right;
	margin-top:60px;
	margin-right:250px;
	text-align:center;
	color:white;
	background-color:#0000b3;
	border-style:none;
	cursor:pointer;
	margin-bottom:20px;
	clear:both;
}

input#date, input#time {
	width:200px;
}

input#venue {
	width:87.5%;
}

td {
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}

td.paymethod {
	width:155px;
	text-align:center;
}

input[type=text] {
	height:20px;
	border:1px solid #ccc;
}

form {
	width:550px;
	height:35%;
	margin-left:25%;
}

h2#pmethod {
	padding-top:25px;
}

label {
	margin-bottom:10px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
}

form#ifCcard {
	width:500px;
	margin-top:20px;
	float:right;
	margin-right:23%;
	background-color: #f2f2f2;
  	padding: 5px 20px 15px 20px;
  	border: 1px solid lightgrey;
 }


input#cname, input#ccnum, input#expmonth, input#expyear, input#cvv {
	width:90%;
	margin-bottom:10px;
	padding: 10px;

}

img#ppalLogo {
	width:60px;
	height:30px;
}

div#ifPaypal {
	text-align:center;
	width:20%;
	float:right;
	padding-top:3px;
	margin-right:27%;
	border: 1px solid lightgrey;
	background-color: #f2f2f2;
	margin-top:10px;
}

















